
// Typography
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$font-letter-spacing: -0.304px;

// Responsiveness


// Color varibles
$site-main: #5cb85c;

$site-white: #e6e2e3;
$site-black: #000000;
$site-grey: #F9F9F9;
$site-green: #23CC99;