$theme-location: "..";

@charset "utf-8";

// Import Fonts
$roboto-font-path: "../node_modules/roboto-fontface/fonts";
@import "../../node_modules/roboto-fontface/css/roboto/sass/roboto-fontface.scss";

// Import Icons
$fa-font-path:"../node_modules/@fortawesome/fontawesome-free/webfonts" !default;
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

// Import a vendors libraries


// Import a Variables
@import 'variables';

// Import SPG-style
@import 'mixins';
@import 'global';
@import 'base/all';
@import 'components/all';
@import 'pages/all';
